<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Gerenciador de Filamentos{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/base.css">

    {% block extra-css %}{% endblock %}
</head>

<body>

    {% if not hide_nav %}
<nav class="navbar">
    <div class="nav-left">
        <a href="/home"><img src="/img/logoEsquilo.png" class="logo" alt="Logo"></a>
    </div>

    <div class="nav-right">
        <a href="/filamentos">Filamentos</a>
        <a href="/relatorios">Relatórios</a>
        <a href="/configuracoes">Configurações</a>
    </div>
</nav>
{% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    </body>
</html>